.ViewTextMain{
    position:fixed;
    background-color: black;
    box-sizing:border-box;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    height:0;
    
    font-family: NexaTextLight;
    width:0;
    z-index:100;
    animation-name: viewTextShow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes viewTextShow{
    from{ transform: scale(0)}
    to{ transform: scale(1);
        height:100vh;
        width:100%;
        top:0%;
        left:0%;}
  }