.bioMainClass{
    background-color:#0d47a1;
    position:relative;
    display:block;
    left: 0px;
    z-index:300;
    width: 25%;
    box-shadow: 0px 0px 50px #0b1f36;
    border: 0.5px solid #0d47a1;
    height: 100vh
}

.bioSectionGeneral{
    margin-top:30px;
    cursor:pointer;
    padding:10px;
    text-align:left;
    background-color:#6c9de6;
    width:60%;
    margin:10px auto;
    border-radius:10px
}

.bioSectionFolder{
    margin-top:30px;
    cursor:pointer;
    padding:10px;
    text-align:left;
    background-color:#0d47a1;
    width:60%;
    margin:10px auto;
    border-radius:10px
}


.bioSectionImage{
    margin-top:30px;
    cursor:pointer;
    padding:10px;
    text-align:left;
    background-color:#0d47a1;
    width:60%;
    margin:10px auto;
    border-radius:10px
}


.bioSectionLink{
    margin-top:30px;
    cursor:pointer;
    padding:10px;
    text-align:left;
    background-color:#0d47a1;
    width:60%;
    margin:10px auto;
    border-radius:10px
}

.bioSectionText{
    margin-top:30px;
    cursor:pointer;
    padding:10px;
    text-align:left;
    background-color: #0d47a1;
    width:60%;
    margin:10px auto;
    border-radius:10px
}



.bioSectionFolder:active,.bioSectionImage:active,.bioSectionLink:active,.bioSectionText:active{
    animation-name: signbounce;
    animation-duration: 1s;
    background-color:#6c9de6
}

.bioSectionFolder:focus,.bioSectionImage:focus,.bioSectionLink:focus,.bioSectionText:focus{
    outline :none;
    background-color: transparent;
}



@media(max-width:700px){
    .bioMobileOff{
        animation-name: menuClose;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        background-color:#0d47a1;
        position:absolute;
        display: block;
        left:0px;
        z-index:300;
        width:85%;
        box-shadow: 0px 0px 50px #0b1f36;
        border:0.5px solid #0d47a1;
        height:100vh
    }

    .bioMainMobile{
        animation-name: menuOption;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        background-color:#0d47a1;
        position: fixed;
        display:block;
        left:0px;
        bottom:0px;
        overflow: auto;
        top:0px;
        z-index:300000;
        width:85%;
        box-shadow: 0px 0px 50px #0b1f36;
        border:0.5px solid #0d47a1;
        height:100%
    }
}


@keyframes menuOption{
    from{ transform: translateX(-400px)}
    to{ transform: translateX(0px)}
  }

  @keyframes menuClose{
    from{ transform: translateX(-400px)}
    to{ transform: translateX(-400px)}
  }

  @keyframes signbounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}