.pauthSignin{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px;
    color:#0d47a1;
    background-color: white;
    text-align:center;
    border:2px solid white;
    border-radius:20px;
    cursor:pointer;
    width:120px;
    font-family:NexaTextLight;
    margin-left:5px
}

.loadbuttonSignUp{
    height: 25%;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 105px;
    height: 35px;
    border-radius: 15px;
    color: #0d47a1;
    background-color: white;
}

.loadbuttonSignin{
    height: 33.3%;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 105px;
    height: 35px;
    border-radius: 15px;
    color: #0d47a1; 
    background-color: white;
}

.loadbuttonSignin:focus, .loadbuttonSignUp:focus {
    outline :none;
    background-color: white;
}

.loadbuttonSignin:active, .loadbuttonSignUp:active{
    animation-name: signbounce;
    animation-duration: 1s;
}

@media(max-width:700px){
    .loadbutton{

        height: 20%,
    }

    .loadbuttonSignin{
        height: 70%
    }
}


@keyframes signbounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
