body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "NexaTextBold";
  src: local("NexaTextBold"),
    url("./NEXAFONTS/OTF/Nexa-Bold.otf") format("truetype");
  font-weight: 500;
}


@font-face {
  font-family: "NexaTextLight";
  src: local("NexaTextLight"),
    url("./NEXAFONTS/OTF/Nexa-Light.otf") format("truetype");
  font-weight: 500;
}
